@import "../../styles/variables.scss";

.card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-basis: 368px;
  padding: 15px;
  border: 1px solid rgba(74, 53, 53, 0.552);
  cursor: pointer;

  &__img {
    max-width: 200px;

    @media screen and (max-width: 400px) {
      max-width: 170px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    gap: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__buttons {
    display: flex;
    font-size: 19px;
    gap: 30px;
  }
}
