.search-input,
.sort-option {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sort-option .filter-title,
.search-input .filter-title {
  font-size: 22px;
}

.reset-btn {
  border: 2px solid rgba(74, 53, 53, 0.552);
  max-width: 150px;
  padding: 5px;
  align-self: center;
}

.search-input input,
.sort-option select {
  min-width: 245px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid rgba(74, 53, 53, 0.552);
  border-radius: 15px;
  text-indent: 15px;
  &::placeholder {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-size: 16px;
    color: rgba(74, 53, 53, 0.552);
  }
}
