@import '../../styles/variables.scss';

.App {
  margin: 0 auto;
}

.wrapper {
  max-width: 1380px;
  margin: 0 auto;
}

.main {
  &__card-list {
    display: none;
    // display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}