@import "../../styles/variables.scss";

.app {
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  margin-top: 50px;
  &__card-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 40px;
    padding: 20px 0px;
    justify-content: center;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    @media screen and (max-width: 1100px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__value-filters {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    padding: 25px 35px;
    gap: 20px;
    border: 2px solid rgba(74, 53, 53, 0.552);
    @media screen and (max-width: 1100px) {
      width: 100%;
      padding: 5px 7px;
    }
  }

  &__range-filters {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    padding: 25px 35px;
    gap: 80px;
    border: 2px solid rgba(74, 53, 53, 0.552);

    @media screen and (max-width: 400px) {
      padding: 5px 7px;
    }
  }

  &__search-filters {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    padding: 25px 35px;
    gap: 50px;
    border: 2px solid rgba(74, 53, 53, 0.552);
    @media screen and (max-width: 1100px) {
      width: 100%;
      padding: 5px 7px;
    }
  }
}

.active {
  border: 2px solid rgb(255, 0, 0) !important;
}

.popular-active {
  background-image: url("../../assets/img/check.png");
  background-size: 35px;
  background-position: center;
}

.color-active {
  background-image: url("../../assets/img/check-1.png");
  background-size: 35px;
  background-position: center;
}

.basket-active {
  position: relative;
}

.basket-active::after {
  content: "В корзине";
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: white;
  font-size: 22px;
  width: 30%;
  height: 30px;
  position: absolute;
  background-color: brown;
  left: 10px;
  top: 10px;
  z-index: 99;
}

.noitems-message {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 32px;
  padding: 50px;
}

.warn::after {
  content: "Извините, все слоты заполнены";
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: red;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
}
