@import "../../styles/variables.scss";

.app {
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  margin-top: 50px;
  &__card-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 40px;
    padding: 20px 0px;
    justify-content: center;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__value-filters {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    padding: 25px 35px;
    gap: 20px;
    border: 2px solid rgba(74, 53, 53, 0.552);
  }

  &__range-filters {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    padding: 25px 35px;
    gap: 80px;
    border: 2px solid rgba(74, 53, 53, 0.552);
  }

  &__search-filters {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    padding: 25px 35px;
    gap: 50px;
    border: 2px solid rgba(74, 53, 53, 0.552);
  }
}

.active {
  border: 3px solid red !important;
}

.noitems-message {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 32px;
  padding: 50px;
}
